<div class="center hero-unit"> 
	<h1>Welcome to my peeps!</h1> 
  
  	<div class="welcome">
  	so what is mypeeps? mypeeps is simple: it's a place for you to share your photos, videos, and weekly, daily, even minutely routine happenings with your family. it's a place to find out who's going to sunday dinner. it's a place to share stories from your most recent adventures.
  	</div>
  	
  	<h3>
  	it's not a place to post pictures about that night you can't remember.
	</h3>
  
    <h2> 
	...because what happens on facebook, stays on facebook.
	</h2> 

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %> 
</div> 