<div class="center hero-unit"> 
	<h1>Welcome to my peeps!</h1> 
  
  	<div class="welcome">
  	so what is mypeeps? mypeeps is an excessively elaborate family tree. it's a place that allows you to add family members, update information, keep track of the family tree's changes, and then view it all in a simple tree animation. new features will be added as i learn how to build them, and the layout will be changing constantly. for now, though, sign up below or sign in above!
	</div><br/>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> 
</div> 