<div class="center hero-unit"> 
	<h1>Welcome to my peeps!</h1> 

	<div id="my_peeps_description">a place to share your photos and videos with the family.</div>

	<br/>
	
	
	<div class="boxes">
		<% (1..4).each do |i| %>
			<% (1..4).each do |i| %>
				<div class="box"></div>
			<% end %>
			<br/>
		<% end %>
	</div>

	<br/>	
	<div id="fb">because what happens on facebook stays on facebook.</div>
	<br/>
	<%= link_to "Sign in now!", signin_path, class: "btn btn-lg btn-primary", id: "signin" %>
	<br/>
</div> 