<div class="center hero-unit"> 
	<h1>Welcome to my peeps!</h1> 
  
  	<div class="welcome">
  	so what is mypeeps? mypeeps is for my mom who doesn't have facebook for good reasons. mypeeps is for daniel who doesn't really like facebook for good reasons. mypeeps is for my cousins who want to show us some of their pictures, but not all of them. for good reasons.
  	</div><br/>
  
    <div class="welcome"> 
	mypeeps is also a family tree, which is how this whole idea started. do you remember aunt tina? what about aunt dina? why didn't someone explain to me that they were separate people?! probably because i was 8 and eating cake. well, i'm older now--still eating cake--but i'm i'd like to know more about more family history.
	</div><br/>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> 
</div> 