<% distinct_updates = current_member.updates.where(commented_on_type: 'image').select(:commented_on_id).distinct.pluck(:commented_on_id) %>
<% distinct_updates.each do |du| %>
	<li>
	<div class="update_block">
	<% names = [] %>
	<% current_member.updates.where(commented_on_id: du).each_with_index do |update, index| %>
	<% member = Member.find_by_id( update.from_member) %>
	<% if index == 0 %>
		<%= image_tag member.image_url(:thumb) %>
	<% end %>
	<% names << member.first_name.downcase %>
	<% end %>
	<%= names.to_sentence %>
	wrote something on your wall</div></li>
<% end %>