<% if @updates.empty? %>
	$('#name_header').attr( 'data-updates', "<ul><li> No notifications. </li></ul>")
<% else %>
	$('#name_header').attr( 'data-updates', "<ul><%= j render partial: 'update', object: @updates %></ul>")
<% end %>