updates_count = $('div#updates_count')

<% if @updates.empty? %>
	updates_count.attr( 'data-updates', "<ul><li> No notifications. </li></ul>")
<% else %>
	updates_count.attr( 'data-updates', "<ul><%= j render partial: 'update', object: @updates %></ul>")
<% end %>
