<div class="over_image tp">
	<% if current_member.can_delete?(post) %>
		<%= link_to 'delete', post_path(post), method: :delete, remote: true %><br/>
	<% end %>
	
	<%= link_to 'comment', post_path(post), class: "comment_link", remote: true %>
	
</div>