<% comments = @post.comments.order('created_at DESC') %>

<div class="center" id='image_page' >
	<div class="show_image">
		<% if @post.image? %>
			<% most_recent_comment = ( !comments.empty? && comments.first.created_at.to_i) || 0 %>
			<%= image_tag @post.image_url, id: 'actual_image', data: { image: @post.id, most_recent_comment: most_recent_comment} %>
		<% end %>
		<div class="over_image tp">
			<%= render partial: "comments/comment_form", object: @post, as: :post %>
			<div id="image_comments" >
				<%= render comments %>
			</div>
		</div>
	
		<br/>
		<%= link_to "delete image", post_path(@post), method: :delete, class: "white" if current_member?( Member.find_by_id(@post.member_id)) %>
	</div>
</div>