@import "bootstrap";

/* mixins, variables, etc. */ 

$grayMediumLight: #eaeaea;
$grayLight: #999;
$black-red: #462e2d;
$white: #ffffff;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */ 

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1 , h2 , h3 , h4 , h5 , h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
	background-color: $black-red;
	img {
		float: left;
		margin: 5px;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	a {
		color: #555;
		& :hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* welcome */

.welcome {
	background-color: $black-red;
	color: $white;
	font-size: 1.2em;
	font-family: verdana;
	margin: auto;
	width: 60%;
	padding: 10px;
}

/* forms */

input , textarea , select , .uneditable-input {
  display: inline;
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

.same-line {
	display: inline;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.fields {
	width: 50%;
	margin-left: 25%;
}

#member_full_account {
	width: inherit;
}

.check_box_label {
	display: inline;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* members index */
.members {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $grayLight;
		a {
			vertical-align: bottom;
		}
		& :last-child {
			border-bottom: 1px solid $grayLight;
		}
	}
}

/* tree */
#tree {
	width: 800px;
	height: 600px;
	margin: auto;
	padding-top: 60px;
}

.edit {
	font-size: 0.5em;
	padding-top: 5px;
}

.tree_addition {
	a {
		border-radius: 5px;
		background-color: $black-red;
		margin-left: 15%;
		font-size: 2em;
		padding: 5px;
	}
	& :hover {
		color: #ffffff;
	}
}