@import "bootstrap";

/* mixins, variables, etc. */ 

$grayLight: #222222;
$white: fff;
$headerBright: #1474CF;
$header: rgba(0,0,0,.75);
$headerTransparent: rgba( 0, 86, 180, 0);
$someColor: #7eaeca;
$body: #eff5f8;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */ 
.btn-primary{
	background-color: #1474CF;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: geosanslight;
  font-size: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.content_container {
	min-height: 600px;
}

/* typography */

h1 , h2 , h3 , h4 , h5 , h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
	font-size: 1.7em;
	border-bottom: black solid 1px;
	text-align: left;
}

h4 {
	font-size: 1.4em;
}

/* header */

header {
	background-image: -webkit-gradient( linear, left top, left bottom, from($headerBright), to($headerTransparent), color-stop(1,$body));
	border: none;
	img {
		float: left;
		margin: 1px;
	}
	li{
		line-height: 0;
	}
	a {
		z-index: 10;
		margin-top: 20px;
		letter-spacing: -2.5px;
		font-family: geosanslight;
		font-size: 28px;
		color: white;
		text-shadow: 1px 1px 1px black;
		&:hover{
			color: aliceblue;
		}
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	clear: both;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* welcome */

.welcome {
	background-color: $header;
	color: $white;
	font-size: 1.2em;
	font-family: verdana;
	margin: auto;
	width: 60%;
	padding: 10px;
}

/* forms */

.f-vt{
	input, textarea, select, .uneditable-input {
		display: block;
		border: 1px solid #bbb;
		width: 100%;
		padding: 10px;
		height: auto;
		margin-bottom: 5px;
		@include box_sizing;
		&[type='checkbox'] {
			display: inline;
			width: 15px;
		}
	}
}

.f-hz{
	select{
		display: inline;
		border: 1px solid #bbb;
		width: 80%;
		font-size: 22px;
	}
	input[type='file'], input[type='text']{
		border: 1px solid #000000;
		display: inline;
		width: 87%;
		padding: 1px;
		&[type='submit']{
			border: none;
		}
	}
}

input.btn-vt{
  	width: initial;
  	margin-top: 5px;
	font-size: 20px;
	padding: 5px;
}

input.btn-hz{
	width: initial;
	margin-top: -6px;
	font-size: 18px;
	padding: 2px;
}

input.btn-within{
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.member_select{
	display: inline;
	width: 60%
}

label {
	display: inline;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .alert;
}

.fields {
	width: 100%;
	padding: 10px;
}

#full_member_field {
	display: none;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* members index */
.members {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $grayLight;
	}
	div {
		display: inline-block;
		vertical-align: bottom;
	}
}

/* show member page */

#new_post{
	position: relative;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 10px;
	height: 100%;
}

textarea#post_content{
	padding: 5px;
	width: 100%;
	height: 100%;
}

img.member_image{
	display: inline-block;
	width: 260px;
}

img.member_post{
	float: left;
	margin-right: 3px;
}

.post{
	line-height: 1;
	width: 100%;
	position: absolute;
	margin: 0 7px;
}

.post_content{
	margin-bottom: 5px;
	font-size: 22px;
}

.post_comments{
	list-style: none;
	font-size: 18px;
	li {
		display: inline-block;
		float: left;
		width: 95%;
		margin-bottom: 3px;
	}
}

.post_comments .comment_member_image{
	background: transparent;
}

.post_meta{
	margin: 0 10px;
	font-size: 18px;
}

.show_member_comment_form_holder{
	position: absolute;
	background-color: rgba(9,9,9,0.5);
	border-radius: 5px;
	display: none;
	z-index: 10;
}

.show_member_comment_form{
	width: 260px;
	height: 260px;
	float: left;
	position: relative;
}

.show_member_comment_form > #comment_content{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: transparent;
	color: white;
	text-shadow: 2px 2px 2px black;
}

#member_info{
	p {
		position: absolute;
		font-size: 33px;
		color: white;
		font-family: geosanslight;
		letter-spacing: -2px;
		text-align: left;
		bottom: -20px;
		left: 0;
		text-shadow: 1px 1px 1px black;
		width: 100%;
	}
}

img#profile_image {
	display: inline-block;
	width: 260px;
	padding: 0;
}

#profile_image_holder{
	min-height: 160px;
}

.hide{
	display: none;
}

#images{
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 400px;
}

.image_block{
	display: inline-block;
	position: relative;
	margin: 0 5px 5px 0;
	width: 260px;
	height: 260px;
	float: left;
	border-radius: 5px;
	box-shadow: 2px 2px 50px black;
	overflow: hidden;
}

#image_upload_section{
	position: relative;
	border-radius: 3px;
	background-color: $header;
	width: 98%;
	padding: 3px;
	box-shadow: 3px 3px 10px;
}

.show_image{
	display: inline-block;
	position: relative;
}

.crop_form {
	display: inline-block;
	text-align: center;
	padding-left: 10px;
	input{
		margin-top: 10px;
	}
}

#image_crop{
	display: inline-block;
	float: left;
}

#image_crop_preview{
	width:100px;
	height:100px; 
	overflow:hidden;
	float: left;
}

/* videos */

.member_video{
	margin-top: 30px;
}

/* progress bar */
#progress_bar_section {
	position: absolute;
	left: 0px;
	background-color: $someColor;
	z-index: 10;
	border-top: solid 1px #CCC;
	width: 100%;
	display: none;
	height: 30px;
	margin-top: 5px;
	padding: 3px;

	#progress {
		border: solid 1px #555;
		border-radius: 3px;
		-moz-border-radius: 3px;
		height: 6px;
		#bar {
			height: 4px;
			background: #3EC144;
			width: 0%;
		}
	}
}

/* images */
.over_image {
	position: absolute;
	left: 0px;
	opacity: 1;
	text-align: left;
	padding-left: 3px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	a{
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		&:hover {
			color: #000;
			text-shadow: 1px 1px 1px #fff;
			text-decoration: none;
		}
	}
	line-height: 1;
}

.tp{
	top: 3px;
}

.btm{
	bottom: -18px;
	left: 8px;
}

.white{
	color: #fff;
}

.comments {

}

.show_post_comment_form > #comment_content{
	padding: 0;
	margin: 0;
	height: 28px;
	width: 210px;
	display: inline;
	text-shadow: 2px 2px 2px #000;
	color: #fff;
	background-color: rgba( 44, 44, 44, 0.7);
}

#image_comments {
	position: relative;
	text-align: left;
	width: 250px;
	height: 80px;
	overflow-y: hidden;
	background-color: rgba( 44, 44, 44, 0.7);
	border-radius: 10px;

	li {
		display: inline-block;
		text-shadow: 2px 2px 2px #000;
		border-radius: 5px;
		margin: 1px 0px;
		padding: 2px;
		width: 96%;
		a {
			color: #fff;
			text-shadow: 2px 2px 2px #000;
		}
	}
}

.comment_member_image{
	float: left;
	margin-right: 3px;
	background-color: white;
	border-radius: 5px;
}

/* tree */
#tree {
	width: 100%;
	height: 600px;
	margin: auto;
}

.tree_image_block{
	display: inline-block;
	position: relative;
	margin: 0 5px 5px 0;
}

.tree_image{
	padding: 5px;
	border-radius: 50px;
	z-index: -1000;
}

.member_name_in_tree{
	position: absolute;
	font-size: 25px;
	bottom: 28px;
}

.extend{
	width: 350px;
}

.edit {
	font-size: 16px;
	padding-top: 5px;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	a{
		color: #ff7c00;	
		text-shadow: 1px 1px 1px #fff;
		&:hover{
			color: #000;
			text-shadow: 1px 1px 1px #fff;	
		}
	}
}

#edit_tree_page {
	select {
		width: 25%;
		font-size: 24px;	
	}
	input[type="submit"] {
		display: inline;
		width: 10%;
		vertical-align: top;
	}
}

.add_fields{
	font-size: 24px;
}

.remove_fields{
	font-size: 17px;
	color: #ff5300;
	&:hover{
		color: #ff5300;
		text-decoration: none;
		text-shadow: 1px 1px 1px black;
	}
}

input.add_member{
	display: none;
}

/* updates qtip */

.qtip-content{
	ul{
		list-style-type: none;
		padding: 1px;
		margin: 1px;
	}
	li{
		font-size: 20px;
		line-height: 0.9;
		display: inline-block;
	}
	img{
		border-radius: 10px;
		float: left;
		margin: 0 5px 0 0;
	}
}

.qtip-title{
	font-size: 20px;
	text-align: center;
}

.qtip-content{
	background-color: rgba( 44,44,44,0.8);
	color: white;
}

div.update_block {
	display: inline-block;
	margin-bottom: 3px;
}

div#updates_count{
	position: absolute;
	right: -3px;
	bottom: 10px;
	width: 30px;
	height: 25px;
	text-align: center;
	display: inline-block;
	padding: 12px 0 0 0;
	margin: 0;
	border-radius: 7px;
	font-family: geosanslight;
	font-size: 22px;
}

div.some_updates{
	color: #fff;
	background-color: #FF3424;
	letter-spacing: -2px;
}

div.no_updates{
	color: #000;
	background-color: $body;
	letter-spacing: 0px;
}

#profile_image{
	img{
		width: 150px;
	}
}

.exit_button{
	background-image: image-url('exit_button.png');
	width: 32px;
	height: 32px;
	display: inline-block;
	z-index: 10;
	background-size: 32px 32px;
	position: absolute;
	left: 3px;
	bottom: 3px;
	&:hover{
		cursor: pointer;
	}
}

.play_button{
	position: absolute;
	top: 102px;
	left: 112px;
	width: 35px;
	border-radius: 5px;
	&:hover{
		width: 39px;
		top: 100px;
		left: 110px;
		box-shadow: 3px 3px 15px black;
	}
}


@-webkit-keyframes collapse {  
from {  
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}  
to {  
	-webkit-transform:rotateY(90deg);
	transform:rotateY(90deg);
    } 
}

.collapse {
    -webkit-animation-name: collapse; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s; 
}

@-webkit-keyframes expand {  
from {  
	-webkit-transform:rotateY(90deg);
	transform:rotateY(90deg);
}  
to {  
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
    } 
}

.expand {
    -webkit-animation-name: expand; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s; 
}