@import "bootstrap";

/* mixins, variables, etc. */ 

$grayMediumLight: #eaeaea;
$grayLight: #999;
$header: #184661;
$headerDark: #802204;
$white: #ffffff;
$someColor: #7eaeca;
$body: #e6edf1;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */ 

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: $body;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.content_container {
	min-height: 600px;
}

/* typography */

h1 , h2 , h3 , h4 , h5 , h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
	font-size: 1.7em;
	border-bottom: black solid 1px;
	text-align: left;
}

h4 {
	font-size: 1.4em;
}

/* header */

header {
	background-color: $header;
	img {
		float: left;
		margin: 1px;
	}
	li{
		line-height: 0;
	}
	a {
		margin-top: 20px;
		color: $someColor;
		font-family: 'Georgia';
		letter-spacing: -0.5px;
		font-size: 20px;
		font-weight: bold;
		&:hover{
			color: aliceblue;
		}
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;
	clear: both;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* welcome */

.welcome {
	background-color: $header;
	color: $white;
	font-size: 1.2em;
	font-family: verdana;
	margin: auto;
	width: 60%;
	padding: 10px;
}

/* forms */

.f-vt{
	input, textarea, select, .uneditable-input {
		display: block;
		border: 1px solid #bbb;
		width: 100%;
		padding: 10px;
		height: auto;
		margin-bottom: 5px;
		@include box_sizing;
		&[type='checkbox'] {
			display: inline;
			width: 15px;
		}
	}
}

.f-hz{
	select{
		display: inline;
		border: 1px solid #bbb;
		width: 80%;
		font-size: 22px;
	}
	input[type='file'], input[type='text']{
		border: 1px solid #000000;
		display: inline;
		width: 88%;
		padding: 1px;
		&[type='submit']{
			border: none;
		}
	}
}

input.btn-vt{
  	width: initial;
  	margin-top: 5px;
}

input.btn-hz{
	width: initial;
}

.member_select{
	display: inline;
	width: 60%
}

label {
	display: inline;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .alert;
}

.fields {
	width: 100%;
	padding: 10px;
}

#full_member_field {
	display: none;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* members index */
.members {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $grayLight;
	}
	div {
		display: inline-block;
		vertical-align: bottom;
	}
}

/* show member page */

#wall{
	display: inline-block;
	width: 49%;
	li{
		list-style-type: none;
		min-height: 75px;
		margin: 5px 0;
		img{
			float: left;
			margin-right: 2px;
		}
	}

}

.post_form{
	display: inline-block;
	width: 64%;
	border-radius: 3px;
	background-color: $someColor;
	padding: 3px;
}

#member_info{
	display: inline-block;
	float: left;
	text-align: center;
	width: 180px;
	min-height: 300px;
	background-color: $someColor;
	border-radius: 10px;
	padding: 5px;
	margin-right: 5px;
	
	p {
		font-size: 30px;
		font-family: Georgia;
		line-height: 1em;
	}
}

#profile_image_holder{
	min-height: 160px;
}

.hide{
	display: none;
}

#images{
	display: inline-block;
	float: right;
	width: 50%;
	min-height: 400px;
	img {
		display: inline-block;
		padding: 5px 0px 0px 0px;
	}
}

.image_block{
	display: inline-block;
	position: relative;
}

#image_upload_section{
	position: relative;
	border-radius: 3px;
	background-color: $someColor;
	width: 98%;
	padding: 3px;
}

.crop_form {
	display: inline-block;
	text-align: center;
	padding-left: 10px;
	input{
		margin-top: 10px;
	}
}

#image_crop{
	display: inline-block;
	float: left;
}

#image_crop_preview{
	width:100px;
	height:100px; 
	overflow:hidden;
	float: left;
}

/* progress bar */
#progress_bar_section {
	position: absolute;
	left: 0px;
	background-color: $someColor;
	z-index: 10;
	border-top: solid 1px #CCC;
	width: 100%;
	display: none;
	height: 30px;
	margin-top: 5px;
	padding: 3px;

	#progress {
		border: solid 1px #555;
		border-radius: 3px;
		-moz-border-radius: 3px;
		height: 6px;
		#bar {
			height: 4px;
			background: #3EC144;
			width: 0%;
		}
	}
}

/* images */
.over_image {
	display: inline-block;
	position: absolute;
	left: 0px;
	display: none;
	text-align: left;
	padding-left: 3px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	a{
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		&:hover {
			color: #000;
			text-shadow: 1px 1px 1px #fff;
			text-decoration: none;
		}
	}
}

.tp{
	top: 3px;
}

.btm{
	bottom: -18px;
	left: 8px;
}

.white{
	color: #fff;
}

.comments {
	position: relative;
	text-align: left;
	width: 250px;
	height: 80px;
	overflow-y: hidden;
}

#comment_content{
	padding: 0;
	margin: 0;
	height: 20px;
	width: 200px;
	display: inline;
	background-color: #444;
	text-shadow: 2px 2px 2px #000;
	color: #fff;
	opacity: 0.5;
}

#image_comments li{
	display: inline-block;
	background-color: #444;
	border-radius: 5px;
	opacity: 0.5;
	margin: 1px 0px;
	padding: 2px;
	width: 96%;
}

/* tree */
#tree {
	width: 100%;
	height: 600px;
	margin: auto;
}

.tree_image{
	padding: 5px;
	border-radius: 50px;
	z-index: -1000;
}

.edit {
	font-size: 16px;
	padding-top: 5px;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	a{
		color: $headerDark;	
		text-shadow: 1px 1px 1px #fff;
		&:hover{
			color: #000;
			text-shadow: 1px 1px 1px #fff;	
		}
	}
}

#edit_tree_page {
	select {
		width: 25%;
		font-size: 24px;	
	}
	input[type="submit"] {
		display: inline;
		width: 10%;
		vertical-align: top;
	}
}

.add_fields{
	font-size: 24px;
}

.remove_fields{
	font-size: 17px;
	color: #ff5300;
	&:hover{
		color: #ff5300;
		text-decoration: none;
		text-shadow: 1px 1px 1px black;
	}
}

input.add_member{
	display: none;
}

/* updates qtip */

.qtip-content{
	ul{
		list-style-type: none;
		padding: 1px;
		margin: 1px;
	}
	li{
		font-size: 22px;
		line-height: 0.9;
	}
	img{
		border-radius: 10px;
		float: left;
		margin: 0 5px 0 0;
	}
}

div.update_block{
	display: inline-block;
	margin-bottom: 3px;
}