<div class="show_image center">
	<div class="image_block">
		<%= image_tag @image.image_url %>
		<div class="over_image">
			<%= render partial: "comments/comment_form", object: @image %>
			<div id="image_comments" class="comments">
				<%= render @image.comments.order('created_at DESC') %>
			</div>
		</div>
		
		<br/>
		<%= link_to "delete image", image_path(@image), method: :delete, class: "white" if current_member?( Member.find_by_id(@image.member_id)) %>
	</div>
</div>