<footer class="footer"> 
  <small> 
    <%= link_to "Show me something random", 'http://www.theuselessweb.com/', target: '_blank' %>
  </small> 
  <nav> 
    <ul> 
      <li> <%= link_to "Home", root_path %> </li> 
      <li> <%= mail_to "john.k.lawlor@gmail.com", "Contact" %> </li>
    </ul> 
  </nav> 
</footer>