<%= form_for @member, method: :patch do |f| %>
	
	<%= f.fields_for :children, @member.children.new do |rel| %>

	<% end %>
	<p><%= link_to_add_fields( "add child", f, :children, :relationship, name: 'child' ) %></p>
	
	<%= f.submit "add child", class: "btn btn-primary" %>
<% end %>