<% provide(:title, "Edit profile") %>
<h1>Edit profile</h1>

<div class="">
	<div class="">
		<%= form_for(@member) do |f| %>
			<%= render 'update_fields', f: f %>
			
			<%= f.submit "Save my changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>