<% provide(:title, @member.first_name) %>
<h1><%= @member.first_name + " " + @member.last_name %></h1>

<%= image_tag(@member.image_url(:medium)) %>

<h3><%= @member.first_name %>'s children</h3>
<% if @member.children.empty? %>
	<h4>No children indicated.</h4>
<% else %>
	<ul class="members">
		<%= render partial: "members/member", collection: @member.children, as: :member %>
	</ul>
<% end %>